#ui-cont1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#ui-cont2 {
  display: flex;
  flex-flow: column nowrap;
  height: calc(80vh + 10px);
}
#ui-cont3 {
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;
}
#ui-cont1 > div {
  width: 100%;
}
#ui-cont3 > div {
  width: 100%;
}
#ui-footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  padding: 15px;
}
/*message log*/
#ui-sidebar {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin-right: 5px;
  max-height: 50%;
  height: 80vh;
  width: 50% !important;
  max-width: 24vw !important;
}
#msglog-header {
  border: 5px solid black;
  border-width: 0px 0px 5px 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px;
}
#ui-msglog {
  height: calc(100% - 60px);
  width: 100%;
  overflow-y: scroll;
}
#ui-msglog::-webkit-scrollbar {
  display: none;
}
#ui-msglog {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/*idk*/
#ui-sidebar > div,
#ui-inventory > div {
  min-height: 100%;
}
#ui-inventory {
  margin-left: 5px;
  width: 50% !important;
  height: 80vh;
  max-height: 80vh;
}
.layout-item {
  margin: 0px 9px;
  padding: 5px 0px;
  line-height: 1.4;
  text-align: center;
}
#stats {
  height: 20%;
}
#interface {
  height: 50%;
  margin: 20px 10px;
}
#ui-cont3 {
  height: 30%;
}
.footer-button {
  padding: 4px;
}
