#ui-cont1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#ui-cont2 {
  display: flex;
  flex-flow: column nowrap;
}
#ui-cont3 {
  display: flex;
  flex-flow: row nowrap;
}
#ui-footer{
  position: fixed;
  bottom: 2%;
  width: 100%;
 }
#ui-sidebar{
  margin-right: 1%;
  padding: 1%;
}
#ui-inventory{
  margin-left: 2%;
}
.layout-item {
  margin: 9px;
  padding: 5px 20px;
  line-height: 1.4;
  text-align: center;
}

