p {
  font-family: Verdana, sans-serif;
}
body {
  font-family: Verdana, sans-serif;
  background-color: AliceBlue;
}
#inv,
#stats,
#interface,
#actions,
#map,
#ui-sidebar {
  background-color: LightSkyBlue;
}
#title{
  text-align: center;
}
.indivlog{
  margin: 8px auto;
}