p {
  font-family: Verdana, sans-serif;
}
body {
  font-family: Verdana, sans-serif;
  background-color: AliceBlue;
  margin: 0px;
}
#inv,
#stats,
#interface,
#actions,
#map {
  background-color: LightSkyBlue;
}
#title {
  text-align: center;
}
.indivlog {
  margin: 8px auto;
}
.footer-button{
  border: 2px solid lightskyblue !important;
  background-color: aliceblue !important;
  transition-duration: 0.4s;
}
.footer-button:hover{
  background-color: lightskyblue !important;
}
